#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(100,246,255);
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    height: 5em;
}

#nav-bar .logo {
    height: 5em;
    width: 5em;
    float: left;
}

#nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 2.5em;
    margin-left: 1em;
}

#nav-bar button#compose {
    font-size: 1.5em;
    float: right;
    width: 6.5em;
    height: 2.2em;
    margin: 0.5em 0;
    border-radius: 0.3125em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#compose:hover {
    color: rgb(100, 185, 255);
}