#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    height: 80px;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 2.5em;
    margin-left: 10px;
}