main section.new-tweet {
    border: 0.0625em;
    border: solid;
    margin: 0 2em;
    padding: 0 2% 2%;
    border-radius: 0.625em;
    border-width: 0.0625em;
    background: rgb(205,252,255);
}

main section h2 {
    text-align: left;
    border-bottom: solid;
    border-width: 0.0625em;
}

main section form span.counter {
    float: right;
}

main section form textarea {
    width: 100%;
    padding: 1% 2%;
}

#tweet-container {
    background-color: white;
    padding-bottom: 0.625em;
}

#char-error {
    color: red;
    display: none;
}