article.tweet {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    border: 0.0625em solid;
    border-radius: 0.3125em;
    border-color: Gainsboro;
    overflow: hidden;
}

article.tweet header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #F0F0F0;
    padding: 0 1em;
}

article.tweet header img {
    height: 15%;
    width: 15%;
}

article.tweet header h1 {
    font-size: 2em;
    font-weight: bold;
}

article.tweet header h4{
    justify-content: flex-end;
    font-weight: normal;
    font-size: 1.5em;
}

article.tweet div.text {
    padding: 10% 5%;
}

article.tweet footer {
    padding: 2%;
    border-top: 0.0625em solid;
    border-color: gainsboro;
    display: flex;
    align-items: center;
}

article.tweet footer p{
    flex-grow: 5;
}

article.tweet footer div.icons {
    display: none;
    justify-content: space-between;
}



